.vscode/
.idea/


**/__pycache__/


ms-mail-fetcher-server/build/
ms-mail-fetcher-server/dist/


ms-mail-fetcher-web/dist
ms-mail-fetcher-web/node_modules


ms-mail-fetcher-desktop/build/
ms-mail-fetcher-desktop/dist/
ms-mail-fetcher-desktop/__pycache__/


**/*.bak-*